@import "tailwindcss";

@font-face {
  font-family: "Bahnschrift";
  font-weight: 100 900;
  src: url("../assets/fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@theme {
  --font-bahn: "Bahnschrift", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #D71920;
  --color-secondary: #0E3178;
  --color-tertiary: #00984A;
  --color-primary-text: #444444;
  --color-secondary-text: #606060;
  --color-disabled: #A7A7A7;
  --color-outline: #00000015;
  --color-background: #F5F5F5;
  --color-surface: #FFFFFF;
}

[data-carousel-slide-to][aria-current="true"] {
  background-color: #0E3178;
  @apply ring ring-secondary ring-offset-2 scale-100;
}

[data-carousel-slide-to][aria-current="false"] {
  background-color: transparent;
  @apply bg-secondary/50 w-1.5 h-1.5 md: w-2 md:h-2;
}